@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-float-btn-body {
  background-color: orange !important;
  color: white !important;
  border: none !important;
}
.ant-float-btn-body:hover {
  background-color: orange !important;
  color: white !important;
}
